html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 版型 */
.wrap{
	position: relative;
}
.head{
    background-color: #fafafa;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid rgb(109, 109, 109);
	z-index: 9;
}
.head .h_t{
	font-size: 30px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: serif;
	text-decoration: none;
	color: #000;
}

.head .h_f{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h_f li{
	
	display: block;
}
.h_f li a{
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	text-decoration: none;
	color: #000;
}
.h_f li a:hover{
	text-decoration: overline;
}

#con{
	margin-top: 100px;
}

.foot{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #292929;
	color: #fff;
}
.foot h1{
	font-size: 30px;
	height: 70px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: serif;
	text-decoration: none;
	color: #fff;
	
}
.foot .foot_Community{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 30px;
}
.foot .foot_Community li a img{
	height: 30px;
	width: 100px;
}
.foot .foot_con{
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #000;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.foot_con ul li{
	padding-top: 20px;
}
.foot_con ul li a{
	color: #fff;
}
.fc_h{
	font-size: 20px;
}
.foot_statement{
	display: flex;
	justify-content: start;
	border-top: 1px solid #000;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
}
.foot_statement li{
	margin-right: 50px;
}

/* 首頁 */
.index_con{
	margin-left: 15px;
	margin-right: 15px;
}
.index_con img{
	width: 100%;
}
.index_con h1,.index_con h2,.index_con .ic_a{
	margin-left: 30px;
	word-break: normal;
	margin-top: 20px;
	margin-bottom: 20px;
}
.index_con h1{
	font-size: 30px;
}
.index_con h2{
	font-size: 15px;
}
.index_con .ic_a{
	width: 300px;
	height: 50px;
	border: #000 1px solid;
	border-radius: 50px;
}
/* 商品總覽 */
.types_con{
	display: flex;
	
}
.types_con .tc_sidebar{
	width: 30%;
	
}
.tc_sidebar ul{
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}
.tc_sidebar h1{
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	font-size: 25px;
}
.paixu{
	display: block;
	text-decoration: none;
	border: #000 1px solid;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000;
}
.paixu:hover{
	background-color: rgb(60, 60, 60);
	color: #fff;
}

.types_con .tc_main{
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.TP_commodity{
	width: 30.33%;
	background-color: #fff;
	margin: 10px;
	padding-bottom: 10px;
}
.TP_commodity img{
	width: 100%;
}
.TP_commodity h1,.TP_commodity h2{
	color: #000;
	font-weight:bold;
	font-size: 20px;
	margin-top: 10px;
}
.TP_commodity h3,.TP_commodity p{
	margin-top: 10px;
	color: rgb(60, 60, 60);
	font-weight: lighter,50;
	-webkit-line-clamp: 2;
}